<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <title>Visszajelzés - Soltec Kft.</title>
  </head>
  <body>
    <h3>Köszönjük szépen a visszajelzését</h3>
    <p>
      Ezt az oldalt nyugodtan bezárhatja, a munkatársunk majd felveszi önnel a
      kapcsolatot.
    </p>
  </body>
</html>
