<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="feedbackstyle.css" type="text/css" />
    <title>Visszajelzés - Soltec Kft.</title>
  </head>
  <body>
    <header class="header">
        <div class="logo">
          <a href="https://www.soltec.hu"
            ><img src="logo_300dpi-removebg-preview.png"
          /></a>
        </div>
      </header>
      <main>
        <div class="container">
            <div class="form">
                <h1>Köszönjük szépen a visszajelzését!</h1></br>
                <h2>
                Ezt az oldalt nyugodtan bezárhatja, a munkatársunk hamarosan felveszi önnel a
                kapcsolatot.
                </h2>
            </div>
        </div>
      </main>
  </body>