<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:url"
      content="https://soltecajanlatkeresapi.onrender.com"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Soltec Árkalkulátor" />
    <meta property="og:description" content="Árkalkulátor" />
    <meta
      property="og:image"
      content="	https://soltecajanlatkeresapi.onrender.com/assets/removegblightbulb.png"
    />
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <title>Visszajelzés - Soltec Kft.</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v18.0&appId=891532085610564"
      nonce="LaxS7JGp"
    ></script>
    <h3>Köszönjük szépen a visszajelzését</h3>
    <p>A munkatársunk majd felveszi önnel a kapcsolatot.</p>
    <div
      class="fb-share-button"
      data-href="https://soltecajanlatkeresapi.onrender.com/"
      data-layout=""
      data-size=""
    >
      <a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsoltecajanlatkeresapi.onrender.com%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore"
        >Megosztás</a
      >
    </div>
  </body>
</html>
