/* logo colors: #fbb03b (narancs) #7f817c (szürke) */
* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #eaeaea;
    display: flex;
    justify-items: start;
}
.logo {
    padding: 10px;
}
body {
    background-image: url(assets/solarpanelbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
main {
    color: #f88f02;
    border-radius: 20px;
    display: flex;
    background-color: #eaeaea;
    opacity: 0.9;
    margin: auto;
    height: 400px;
    width: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.inputBox {
    position: relative;
    width: 250px;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: solid 1px #f88f02;
    border-radius: 5px;
    outline: none;
    color: #f88f02;
    font-size: 1em;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding-top: 5px;
    pointer-events: none;
    font-size: 1em;
    color: #f88f02;
    text-transform: uppercase;
}
footer {
    margin: 0;
    padding: 0;
    position:absolute;
    bottom:0;
    width:100%;
    height:26px;
    background-color: black;
}
.footertext {
    padding: 2px;
    justify-content: center;
    display: inline-block;
    color: white;
}
.privandpoli {
    display: flex;
    align-items: start;
    justify-content: center;
}
a:link {
    color: white;
}
a:visited {
    color: white
}
