/* logo colors: #fbb03b (narancs) #7f817c (szürke) */
* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #eaeaea;
    display: flex;
    justify-items: start;
}
.logo {
    padding: 10px;
}
body {
    background-image: url(assets/solarpanelbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.table {
    color: #f88f02;
    border-radius: 20px;
    display: table;
    background-color: #eaeaea;
    opacity: 0.9;
    margin: auto;
    height: 50vh;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.privandpoli {
    display: flex;
    align-items: start;
    justify-content: center;
}
a:link {
    color: #f88f02;
}
a:visited {
    color: #f88f02;
}
.name {
    width: 150px;
}
footer {
    margin: 0;
    padding: 0;
    position:absolute;
    bottom:0;
    width:100%;
    height:26px;
    background-color: black;
}
.footertext {
    padding: 5px;
    
}
.footertext:p {
    display: inline;
}