body{
  background-color: whitesmoke;
  font-family: sans-serif;
}

h1{
  text-align: center;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  margin-bottom: 25px;
  font-size: 2rem;
  letter-spacing: 2px;
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.loading .line-box .line {
  height: 20px;
  border-radius: 10px;
  background: grey;
  animation: loading 30s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
